<footer class="flex items-center w-full rounded-t shadow-sm justify-center p-4 bg-white dark:bg-neutral-900 transition-all duration-200">
  <span class="text-center">© <script>document.write(new Date().getFullYear());</script> <a class="font-semibold hover:underline transition-all duration-200" href="/">FuckNime</a>. All right reserved.</span>
</footer>

<div id="searchModal" class="z-50 hidden fixed inset-0 flex items-center justify-center bg-black/20 backdrop-blur-sm transition-opacity duration-300 p-6">
    <div id="searchModalContent" class="bg-white dark:bg-neutral-800 p-6 rounded-lg shadow-lg w-full md:max-w-md transform scale-75 opacity-0 transition-all duration-300">
        <form action="/pencarian">
			<h2 class="text-lg font-semibold mb-4">Cari Anime</h2>
			<input name="q" type="text" placeholder="Masukkan kata pencarian..." class="bg-white dark:bg-neutral-900 w-full p-2 border border-gray-200 dark:border-neutral-700 rounded focus:outline-none">
			<div class="mt-4 flex gap-2 justify-end">
				<button id="closeSearchModal" class="px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-900 dark:bg-neutral-700 dark:hover:bg-neutral-900">Tutup</button>
				<button type="submit" class="px-4 py-2 bg-gray-800 text-white rounded hover:bg-gray-900 dark:bg-neutral-700 dark:hover:bg-neutral-900">Cari</button>
			</div>
		</form>
    </div>
</div>

<div id="sidebarMenu" class="fixed z-50 top-0 right-0 h-full border-l border-gray-200 dark:border-neutral-700 w-64 bg-white dark:bg-neutral-900 transform translate-x-full transition-transform duration-300 ease-in-out md:hidden">
	<button id="closeBtnMenu" class="absolute top-4 right-4 focus:outline-none">
		<svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
			<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
	<nav class="mt-16 flex flex-col space-y-4 p-4">
		<nav class="flex flex-col gap-1">
			<a href="/" class="px-3 py-1 hover:font-semibold rounded hover:bg-gray-50 dark:hover:bg-neutral-800 hover:scale-105 hover:shadow-sm transition-all duration-200">
				Beranda
			</a>
			<a href="/terbaru" class="px-3 py-1 hover:font-semibold rounded hover:bg-gray-50 dark:hover:bg-neutral-800 hover:scale-105 hover:shadow-sm transition-all duration-200">
				Terbaru
			</a>
			<a href="/terlama" class="px-3 py-1 hover:font-semibold rounded hover:bg-gray-50 dark:hover:bg-neutral-800 hover:scale-105 hover:shadow-sm transition-all duration-200">
				Terlama
			</a>
			<a href="/populer" class="px-3 py-1 hover:font-semibold rounded hover:bg-gray-50 dark:hover:bg-neutral-800 hover:scale-105 hover:shadow-sm transition-all duration-200">
				Populer
			</a>
			<a href="/peringkat" class="px-3 py-1 hover:font-semibold rounded hover:bg-gray-50 dark:hover:bg-neutral-800 hover:scale-105 hover:shadow-sm transition-all duration-200">
				Peringkat
			</a>
			<a href="/filter" class="px-3 py-1 hover:font-semibold rounded hover:bg-gray-50 dark:hover:bg-neutral-800 hover:scale-105 hover:shadow-sm transition-all duration-200">
				Filter
			</a>
		</nav>
	</nav>
</div>