<header class="fixed top-0 left-0 z-50 md:static flex items-center w-full rounded-b shadow-sm justify-between p-4 bg-white dark:bg-neutral-900 transition-all duration-200">
	<a href="/komik" class="flex gap-2 items-center hover:scale-105 duration-300">
		<img class="h-8 w-8 flex dark:hidden transition-all duration-200" src="/assets/images/logo-light.png" alt="logo">
		<img class="h-8 w-8 hidden dark:flex transition-all duration-200" src="/assets/images/logo-dark.png" alt="logo">
		<h1 class="leading text-xl font-bold">
			FuckMik
		</h1>

	</a>
	<div class="flex gap-6 items-center">
		<nav class="hidden md:flex gap-4 items-center">
			<a href="/komik" class="hover:scale-105 hover:border-b duration-300">
				Beranda
			</a>
			<a href="/komik/terbaru" class="hover:scale-105 hover:border-b duration-300">
				Terbaru
			</a>
			<a href="/komik/terupdate" class="hover:scale-105 hover:border-b duration-300">
				Terupdate
			</a>
			<a href="/komik/peringkat" class="hover:scale-105 hover:border-b duration-300">
				Peringkat
			</a>
			<a href="/komik/acak" class="hover:scale-105 hover:border-b duration-300">
				Acak
			</a>
			<a href="/komik/filter" class="hover:scale-105 hover:border-b duration-300">
				Filter
			</a>
		</nav>
		<div class="flex gap-2 items-center">
			<button id="openSearchModal" class="hover:scale-105 hover:border-b duration-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
				</svg>
			</button>
			<a href="/docs" class="hover:scale-105 hover:border-b duration-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M15 13.5H9m4.06-7.19-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
				</svg>
			</a>
			<button id="theme-toggle" class="hover:scale-105 hover:border-b duration-300">
				<svg id="light-icon" class="w-6 h-6 hidden dark:flex transition-all duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
				</svg>
				<svg id="dark-icon" class="w-6 h-6 flex dark:hidden transition-all duration-200 ease-in-out" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
				</svg>
			</button>
			<button id="menuBtnMenu" class=" md:hidden hover:scale-105 hover:border-b duration-300">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
				  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
				</svg>
			</button>
		</div>
	</div>
</header>